.qwe1{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 5px;
    position: relative;
}
.qwe1::before{
    content: '';
    width: 33px;
    height: 50px;
    background-color: red;
    position: absolute;
}
.qwe1::after{
    content: '';
    width: 10px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
}
.qwe2{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 5px;
    position: relative;
}
.qwe2::before{
    content: '';
    width: 66px;
    height: 50px;
    background-color: orange;
    position: absolute;
}
.qwe2::after{
    content: '';
    width: 10px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
}
.qwe3{
    width: 100px;
    height:50px;
    border: 2px solid black;
    position: relative;
}
.qwe3::before{
    content:'';
    width: 100px;
    height: 50px;
    background-color: green;
    position: absolute;
}
.qwe3::after{
    content: '';
    width: 10px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
}