.black{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 50px;
    position: relative;
}
body{
    margin: 0;
}
.white{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 150px;
    position: absolute;
    top: 0px;
}
div{
    border: 2px solid #444;
    box-shadow: 0 5px 20px #777;
}
