.square{
    width: 200px;
    height: 200px;
    border: 2px solid #999;
    box-shadow: 0 5px 20px #777;
}
.black{
    background-color: black;
    margin: 100px;
    position: relative;
}
body{
    margin: 0;
}
.white{
    background-color: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}
