.date{
    background-color: aqua;
    color: white;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
}
.picture{
    display: inline-block;
}
.pictures .picture:not(:last-of-type){
    margin-right: 10px;
}
.sun, .snow, .blizzard{
    min-width: 114px;
    min-height: 94px;
    background-repeat: no-repeat;
}
.sun{
    background-image: url(weather-sun.jpg);
}
.snow{
    background-image: url(weather-snow.jpg);
}
.blizzard{
    background-image: url(weather-blizzard.jpg);
}
.temperature{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture:hover{
    box-shadow: 0 0 3px #444;
}