.form{
    width: 400px;
    height: 280px;
    background-color: #3080f8;
    border: 4px solid #08377e;
    margin: 50px;
}
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registration{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid white;
    line-height: 80px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-left: 20px;
    font-size: 2em;
    font-weight: 800;
}
.email{
    width: 100%;
    height: 25%;
    padding-left: 20px;  
    text-align: left;
    color: white;   
    margin-bottom: -15px;
}
input[type="email"]{
    width: 334px;
    margin-top: 5px;
}
input[type="password"]{
    width: 150px;
    margin-top: 5px;
}
.password{
    display: inline-block;
    height: 25%;
    width: 100%;
}
.firstpass{
    width: 45%;
    padding-left: 20px;
    text-align: left;
    color: white;
    display: inline-block;
}
.secondpass{
    width: 45%;
    text-align: left;
    color: white;
    display: inline-block;
}
.submit{
    width: 100%;
    height: 25%;
    padding-left: 20px;
}
input[type="submit"]{
    background-color: rgb(250, 232, 67);
    height: 25px;
    border: none;
}