.fieldset{
    width: 500px;
    height: 300px;
    background-color: #d3c990;
    background-image: url(5.png);
    background-repeat: no-repeat;
    position: relative;

}
.radio:not(:last-of-type){
    margin-bottom: 20px;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.button{
    background-color: maroon;
    border: 1px solid black;
}
.legend{
    color: maroon;
}
.radio-group-item{
    margin-bottom:10px;
}