.qwe1{
    width: 500px;
    height: 300px;
    background-color: #d3c990;
    background-image: url(5.png);
    background-repeat: no-repeat;
}
.qwe2{
    color: brown;
    font-weight: 700;
}
.qweqwe1{
    background-color: brown;
    color: white;
}
.qweqwe{
    margin-left: 150px;
}