.fieldset{
    width: 500px;
    height: 300px;
    background-color: #d3c990;
    background-image: url(5.png);
    background-repeat: no-repeat;
    position: relative;

}
.radio:not(:last-of-type){
    margin-bottom: 20px;
}
.buttons{
    content: '';
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.button{
    background-color: maroon;
    border: 1px solid black;
}
.legend{
    color: maroon;
}